
  <form #form="ngForm" (submit)="onSubmit(form)">
    <table id="table1" class="table table-sm">
    <tr id="tr1">
      


      <td  style ="color:aliceblue">İl</td> 
      <td style ="color:aliceblue">
      <select [(ngModel)]="yeniTasinmaz.cityname" name="sehir" #sehir="ngModel" 
      (ngModelChange)='secilenCity($event)' >
      <option>İl seçiniz</option>     
      <option 
        *ngFor="let sehir of city"
        [value]="sehir.cityid" >
      {{sehir.cityname}}
      </option>
      </select>
      </td>
        
    </tr>
    <tr>
      <td  style ="color:aliceblue">İlçe</td> 
      <td style ="color:aliceblue">
        <select class="form-select" [(ngModel)]="yeniTasinmaz.countyname" name="ilce" #ilce="ngModel"
       (ngModelChange)='secilenCounty($event)' > 
       <option>İlçe seçiniz</option>   
       <option
        *ngFor="let ilce of county"
        [value]="ilce.countyid">
      {{ilce.countyname}}
      </option>
      </select>
      </td>
    </tr>
<tr>
      <td  style ="color:aliceblue">Mahalle</td> 
      <td style ="color:aliceblue">
      <select class="form-select" [(ngModel)]="yeniTasinmaz.neighborhoodid"  (ngModelChange)='secilenMahalle(mahalle.value)'
      name="mahalle" #mahalle="ngModel" 
      >     <option>Mahalle seçiniz</option>   
       <option
        *ngFor="let mahalle of neighborhood"
        [value]="mahalle.neighborhoodid">
      {{mahalle.neighborhoodname}}
      </option>
      </select>
      </td>
    </tr>
     
  
<tr>
    
      <td style ="color:aliceblue">Ada</td>
      <td>
        <input id="i4" type="number" name="ada" #ada="ngModel" [(ngModel)]="yeniTasinmaz.ada">
      </td>
  </tr>
      
  
<tr>

  <td style ="color:aliceblue">Parsel</td>
  <td>
    <input id="i5" type="number" size="30" name="parsel" #parsel="ngModel"   [(ngModel)]="yeniTasinmaz.parsel">
  </td>

</tr>

<tr>

  <td style ="color:aliceblue">Nitelik</td>
  <td>
    <input id="i5" type="text" name="nitelik" #parsel="ngModel"   [(ngModel)]="yeniTasinmaz.nitelik">
  </td>

</tr>


  <tr>
  
      <td style ="color:aliceblue">Adres</td>
      <td>
        <input id="i5" type="text" size="30" name="adres" #adres="ngModel"   [(ngModel)]="yeniTasinmaz.adres">
      </td>
  
    </tr>
    <tr>
      <td >   
        <button class="btn-secondary"type="submit" id="button"
        [disabled]="form.invalid" >Ekle</button>
      </td>
    </tr>
    </table></form>