table#table1 {
    width:1%; 
    margin-left:3%; 
    
    margin-top: 6%;
    
  }

  tr#tr1{
    width:130px;
    margin-right: 10%;
    margin-top: 10%;
    font-size: 25px;
  }
  tr#tr2{
    width:130px;
    margin-right: 10%;
    margin-top: 10%;
    font-size: 25px;
  }
  tr#tr3{
    width:130px;
    margin-right: 10%;
    margin-top: 10%;
    font-size: 25px;
  }

  input#i1{

margin-bottom: 10%;

  }

  input#i4{

    margin-bottom: 10%;
    
      }

      input#i5{

        margin-bottom: 10%;
        
          }

          button#button{

            padding: 10px 32px;

          }